<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello, phoneApp!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, non veritatis, provident placeat quia impedit sunt
        eum ea nobis inventore cumque qui dolorum, ullam saepe nulla natus, modi libero quos.</p>
      <p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/phones']" role="button">List All Phones</a></p>
      <p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/phones/new']" role="button">Add Phone</a></p>
    </div>
  </div>
</div>