<div class="col-xs-12">

  <h1 class="text-center">Add new Phone</h1>

  <form>

    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" name="brand" class="form-control" id="brand" placeholder="Brand" [(ngModel)]="newPhone.brand">
    </div>

    <div class="form-group">
      <label for="name">name</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Name" [(ngModel)]="newPhone.name">
    </div>

    <div class="form-group">
      <label for="specs">Specs</label>
      <input type="text" name="specs" class="form-control" id="specs" placeholder="New spec" #specs>
    </div>

    <button class="btn btn-info" (click)="addSpec(specs.value); specs.value = ''"> add </button>

    <ul>
      <li *ngFor="let spec of newPhone.specs"> {{ spec }} </li>
    </ul>
    <small *ngIf="!newPhone.specs.length"> This phone has no specs :( </small>
    <br>
    <br>

    <div class="form-group">
      <label for="file">Image file</label>
      <br>
      <label class="custom-file">
        <input type="file" name="file" class="custom-file-input"ng2FileSelect [uploader]="uploader" />
        <span class="custom-file-control"></span>
      </label>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>

  <p> {{ feedback }} </p>
</div>
